<% include("../functions") %>
<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div class="container">
    <div class="content__service message">
      <h3> Thank you for booking with us </h3>
      <div class="content__service message-sm">
        <span> Your appointment has been approved.</span>
      </div>
      <div class="content__card">
        <div class="content__card-wrapper">
          <div>
            <% if (teamMemberProfiles && teamMemberProfiles.length > 0) { %>
              <% teamMemberProfiles.forEach(function(profile) { %>
                <% if (profile && profile.displayName) { %>
                <div class="staff__card-wrapper confirm">
                  <div class="staff__card-picture-wrapper">
                    <% if (profile.profileImageUrl) { %>
                      <img src="<%= profile.profileImageUrl %>" />
                    <% } else { %>
                      <%= getStaffInitials(profile.displayName) %>
                    <% } %>
                  </div>
                  <div class="staff__card-details--confirm">
                    <span class="message-sm">Scheduled with</span>
                    <h4><%= profile.displayName %></h4>
                  </div>
                </div>
                <% } %>
              <% }); %>
            <% } else { %>
              <div>No staff information available.</div>
            <% } %>
          </div>
          <div class="content__card-date">
            <h5>
              <% if (booking && booking.appointmentSegments && booking.appointmentSegments.length > 0 && location && location.timezone) { %>
                <% formatDateToParts(booking.startAt, location.timezone, booking.appointmentSegments[0].durationMinutes).forEach(function(part) { %>
                  <%= part %>
                  <br>
                <%}); %>
              <% } else { %>
                <span>Time information unavailable.</span>
              <% } %>
            </h5>
          </div>
          <% let totalDuration = 0; if (serviceDetails && serviceDetails.length > 0) { serviceDetails.forEach(function(s) { totalDuration += s.duration * s.quantity; }); } %>
          <div class="content__card-description">
            <% if (serviceDetails && serviceDetails.length > 0) { %>
              <ul>
                <% serviceDetails.forEach(function(s) { %>
                  <% if (s && s.name && s.duration) { %>
                  <li>
                    <%= s.name %><% if (s.quantity > 1) { %> (x<%= s.quantity %>)<% } %> - <%= formatTime(s.duration) %>
                    <% if (s.priceMoney) { %> - <%= formatMoney(s.priceMoney.amount, s.priceMoney.currency) %><% } %>
                  </li>
                  <% } %>
                <% }); %>
              </ul>
              <% let totalAmount = 0; serviceDetails.forEach(function(s) { if (s.priceMoney) { totalAmount += s.priceMoney.amount * s.quantity; } }); %>
              <div><b>Total duration:</b> <%= formatTime(totalDuration) %></div>
              <% if (totalAmount > 0 && serviceDetails[0] && serviceDetails[0].priceMoney) { %>
                <div><b>Total amount:</b> <%= formatMoney(totalAmount, serviceDetails[0].priceMoney.currency) %></div>
              <% } %>
            <% } else { %>
              <div>No service details available.</div>
            <% } %>
          </div>
          <div class="business__location">
            <div>
              <%if (location.address) { %>
                <%if (location.address.addressLine1) { %>
                  <span><%= location.address.addressLine1 %>, </span> <br>
                <% } %>
                <%if (location.address.addressLine2) { %>
                  <span><%= location.address.addressLine2 %>, </span>
                <% } %>
                <span>
                  <%= location.address.locality %>,
                  <%= location.address.administrativeDistrictLevel1 %>,
                  <%= location.address.postalCode %>
                </span>
              <% } else { %>
                <span>No location information</span>
              <% } %>
            </div>
          </div>
          <div class="button__group">
            <form class="sq-form-control" action="/booking/<%= booking.id %>/reschedule" method="GET">
              <button class="button btn-primary" type="submit"> Reschedule booking </button>
            </form>
            <form class="sq-form-control" action="/booking/<%= booking.id %>/delete" method="POST">
              <button class="button btn-secondary" type="submit">Cancel booking</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
